
<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>

<%= form_tag("/register/ship-owner", method: "post") do %>

<!-- <form action="/register/ship-owner" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="Cl8d7g0z2cru31Z3MLo9FvkV67yQz/TE1fVjpuAZt7kHSiV1a2inYi7RbTZXJfCht2IDe0f+Su3jvoneFVzuNg=="> -->
  
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>
  <br>
  <%= label_tag(:password, "Password") %>
  <%= text_field_tag(:password) %>
  <br>

  <label for="repeat_password">Repeat Password</label>
  <input type="password" name="repeat_password" id="repeat_password" required>
  <br>
  
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" id="first_name" required>
  <br>
  
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" id="last_name" required>
  <br>
  
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required>
  <br>
  
  <label for="phone_number">Phone Number</label>
  <input type="tel" name="phone_number" id="phone_number" required>
  <br>
  
  <label for="country">Country of residence</label>
  <input type="text" name="country" id="country" required>
  <br>
  
  <input type="submit" name="commit" value="Create my account" data-disable-with="Create my account">
<% end %>
<!-- </form> -->