<link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/css/kenigbolo-meya-stephen-s-trendy-site.webflow.2dba93c49.css">

<script type="text/javascript">
	document.getElementById("starhalf").disabled = true;
</script>
	<div class="container">
		<div class="innerwrap">
			<section class="section1 clearfix">
				<div>
					<div class="row grid clearfix">
						<div class="col2 first">
							<img src="<%= asset_path( 'profile-icon.png' ) %>" alt="">
							<h1> <%= @user.first_name %> </h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
							
							<!-- Ratings Form -->
							<%= form_tag("/cargo-rating/new", method: "post") do %>
								<form class="ratings-form">
									<div class="col2 second">
										<fieldset class="rating">
										    <input type="radio" id="star5" name="rating" value="5" />
										    <label for="star5">5 stars</label>
										    <input type="radio" id="star4" name="rating" value="4" />
										    <label for="star4">4 stars</label>
										    <input type="radio" id="star3" name="rating" value="3" />
										    <label for="star3">3 stars</label>
										    <input type="radio" id="star2" name="rating" value="2" />
										    <label for="star2">2 stars</label>
										    <input type="radio" id="star1" name="rating" value="1" />
										    <label for="star1">1 star</label>
										</fieldset>
									

										<button class="btn btn-primary rating-button">
											Rate
										</button>
									</div>
								</form>
							<% end %>
							<!-- End of Ratings form -->
								
							<!-- Add ship Link -->
							<% if session[:current_user_class] == "CargoOwner" %>
								<% if session[:current_user_id] == @user.id %>
									<span>
										<%= link_to "Add Cargo", controller: "cargos", action: "show", id: @user.id, class: "white-text-link" %>
									</span>
								<% end %>
							<% end %>
							<!-- End of Add Ship Link -->
						</div>

						<div class="col2 last">
							<div class="grid clearfix">
								<div class="col3 first">
									<h1>
										<% if @cargo != nil%>
											<%= @cargo.length %>
										<% else %>
											0
										<% end %>	
									</h1>
									<span>Cargos</span>
								</div>
								<div class="col3"><h1>120</h1>
								<span>Negative Reviews</span></div>
								<div class="col3 last"><h1>452</h1>
								<span>Positive Reviews</span></div>
							</div>
						</div>
					</div>

				</div>
				<span class="smalltri">
					
				<i class="fa fa-star"></i>
				</span>
			</section>


			<section class="section2 clearfix">
				<div class="grid">
					<% @cargo.each do |cargo| %>
						<div class="col-md-3 ">
							<div class="postcont"><img src="<%= asset_path( 'cargo.jpg' ) %>" alt="">
							</div>
							<div class="profileinfo panel-body white-bg">
								<img src="<%= asset_path( 'profile-icon.png' ) %>" alt="">
								<p>Cargo Type: <%= cargo.cargo_type %> </p>
								<p>Description: <%= cargo.description %> </p>
								<button class="btn btn-info btn-block"><%= link_to "Auction Cargo", controller: "bids", action: "edit", id: cargo.id %></button>
							</div>
						</div>
					<% end %>	
				</div>
			</section>
		</div>
	</div>	
<!-- End of body -->
