<link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/css/kenigbolo-meya-stephen-s-trendy-site.webflow.2dba93c49.css">


<script type="text/javascript">
	document.getElementById("ratings").disabled = true;
</script>

<% if @invalid == nil %>
	<div class="container">
		<div class="innerwrap">
			<section class="section1 clearfix">
				<div>
					<div class="row grid clearfix">
						<div class="col2 first">
							<img src="<%= asset_path( 'profile-icon.png' ) %>" alt="">
							<h1> <%= @user.first_name %> </h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>

							<% if session[:current_user_class] == "CargoOwner" %>
								<!-- Ratings Form -->
								<%= form_tag("/ship-rating/new", method: "post") do %>
									<form class="ratings-form">
										<div class="col2 second">
											<fieldset class="rating">
											    <input type="radio" id="star5" name="rating" value="5" />
											    <label for="star5">5 stars</label>
											    <input type="radio" id="star4" name="rating" value="4" />
											    <label for="star4">4 stars</label>
											    <input type="radio" id="star3" name="rating" value="3" />
											    <label for="star3">3 stars</label>
											    <input type="radio" id="star2" name="rating" value="2" />
											    <label for="star2">2 stars</label>
											    <input type="radio" id="star1" name="rating" value="1" />
											    <label for="star1">1 star</label>
											</fieldset>
											
											<%= hidden_field_tag 'ship_owner', @user.id %>
											
											<button class="btn btn-primary rating-button" type="submit">
												Rate
											</button>
											
										</div>
									</form>
								<% end %>
							<% else %>
								<% if session[:current_user_id] == @user.id %>
										<%= link_to "Inbox", controller: "ship_owners", action: "read", id: @user.id, class: "white-text-link" %>
								<% end %>
							<% end %>
								<!-- End of Ratings form -->
							

							<!-- Add ship Link -->
							<% if session[:current_user_class] == "ShipOwner" %>
								<% if session[:current_user_id] == @user.id %>
									<span>
										<%= link_to "Add Ship", controller: "ships", action: "show", id: @user.id, class: "white-text-link" %>
									</span>
								<% end %>
							<% else %>
								<span>
									<%= link_to "Send Message", controller: "ship_owners", action: "create_message", class: "white-text-link", cargo_owner: session[:current_user_id] %>
								</span>								
							<% end %>
							<!-- End of Add Ship Link -->
						</div>

						<div class="col2 last">
							<div class="grid clearfix">

								<div class="col3 first">
									<h1>
										<% if @ships != nil%>
											<%= @ships.length %>
										<% else %>
											0
										<% end %>	
									</h1>
									<span>Ships</span>
								</div>

								<div class="col3">
									<h1>21</h1>
									<span>Reviews</span>
								</div>

								<div class="col3 last">									
									<% if @rating != nil %>
										
											<fieldset class="rating ratings">									
												<% @rating.rating.to_i.times do%>
													<i class="glyphicon glyphicon-star"></i>
												<% end %>
											</fieldset>
											
											<% if @half == true  %>
												<i class="glyphicon glyphicon-star half"></i>
											<% end %>	
									<%else%>
										<fieldset class="rating ratings">									
											<% 5.times do %>
												<input type="radio" id="star5" name="rating" value="5" />
											    <label for="star">stars</label>
											<% end %>
										</fieldset>
										<span>Rating</span>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section class="section2 clearfix">
				<div class="grid">
					<% @ships.each do |ship| %>
						<div class="col-md-3 ">
							<div class="postcont"><img src="<%= asset_path( 'ship.jpg' ) %>" alt="">
							</div>
							<div class="profileinfo panel-body white-bg">
								<img src="<%= asset_path( 'profile-icon.png' ) %>" alt="">
								<p>Ship Type: <%= ship.ship_type %> </p>
								<p>IMO Number: <%= ship.imo_number %> </p>
								<button class="btn btn-info btn-block"><%= link_to "Auction ship", controller: "ship_bids", action: "edit_ship", id: ship.id %></button>
							</div>
						</div>
					<% end %>	
				</div>
			</section>
		</div>
	</div>
<% else %>	
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<%= @invalid %>
			</div>
		</div>
	</div>
<% end %>	
<!-- End of body -->
