<%= @user.username %>

<% if @user.id == session[:current_user_id] %>
	<%= link_to "Add Ship", controller: "ships", action: "show", id: @user.id %>
<% end %>

<h5>Ships</h5>
<% if @ships != nil%>
	<% @ships.each do |ship| %>
		<p> Gross Tonne: <%= ship.gross_tonne %> </p>
		<p> Dead Weight: <%= ship.dead_weight %> </p>
		<p> IMO Number: <%= ship.imo_number %> </p>
		<button><%= link_to "Auction ship", controller: "ship_bids", action: "edit_ship", id: ship.id %></button>
		<br>
		<br>
	<% end %>
<% end %>
