<link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/css/kenigbolo-meya-stephen-s-trendy-site.webflow.2dba93c49.css">


<% if session[:current_user_id] != nil %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
    <div class="form-header">
          Add Ship to Marketplace
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <%= form_tag("/bid/edit_ship/", method: "post") do %>      

        <%= hidden_field_tag 'id', @ship_id %>
        <label for="end_date">Bidding Deadline</label>
        <input type="date" name="end_date" id="end_date" required>
        <br>
        <label for="description">Available Space</label>
        <input type="text" name="description" id="description" required>
        <br>
        <label for="present_port">Departure Port</label>
        <%= select_tag 'present_port', options_for_select(@ports.collect{ |port| [port.name, port.name] })%>
        <br>

        <label for="destination_port">Arrival Ports</label>
        <%= select_tag 'destination_port', options_for_select(@ports.collect{ |port| [port.name, port.name] })%>
        <br>
        <br>

        <input type="submit" name="commit" value="Create Auction" data-disable-with="Create Auction">
      <% end %>
    </div>
  </div>
  <!-- End of form -->
<% else %>
  <%= flash[:alert] = "You must be logged in to add a bid" %>
  <br>
  <%= link_to "Click to Login", controller: "sessions", action: "cargo_login" %>
<% end %>

<!-- Beginning of Footer -->
  <footer>
  <div class="center footer w-section" id="footer">
    <div class="w-container">
      <div class="footer-text">Copyright Shortcut Inc 2016</div>
    </div>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/js/webflow.30539563a.js"></script>
</footer>
