<link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/css/kenigbolo-meya-stephen-s-trendy-site.webflow.2dba93c49.css">


<% if session[:current_user_id] != nil %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
    <div class="form-header">
          Add new Ship
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <%= form_tag("/ship/new", method: "post") do %>      
    
        <label for="gross_tonne">Gross_tonne</label>
        <input type="number" name="gross_tonne" id="gross_tonne" required>
        <br>

        <label for="dead_weight">Dead Weight</label>
        <input type="number" name="dead_weight" id="dead_weight" required>
        <br>
        
        <label for="imo_number">Imo Number</label>
        <input type="number" name="imo_number" id="imo_number" >
        <br>
        
        <label for="departure_date">Departure Date</label>
        <input type="date" name="departure_date" id="departure_date" required>
        <br>

        <label for="ship_type">Ship Type</label>
        <select id="ship_type" name="ship_type">
          <option > Liquid Bulk</option>
          <option > Dry Bulk </option>
          <option > Containers </option>
          <option > Roll on Roll </option>
          <option > Others </option>
        </select>
        <br>

        <label for="present_port">Departure Port</label>
        <%= select_tag 'present_port', options_for_select(@ports.collect{ |port| [port.name, port.name] })%>
        <br>

        <label for="destination_port">Arrival Ports</label>
        <%= select_tag 'destination_port', options_for_select(@ports.collect{ |port| [port.name, port.name] })%>
        <br>
        <br>

        <input type="submit" name="commit" value="Add Cargo" data-disable-with="Add Cargo">
      <% end %>
    </div>
  </div>
  <!-- End of form -->
<% else %>
  <h5>You must be logged in to add a cargo</h5>
  <%= link_to "Click to Login", controller: "sessions", action: "cargo_login" %>
<% end %>

<!-- Beginning of Footer -->
  <footer>
  <div class="center footer w-section" id="footer">
    <div class="w-container">
      <div class="footer-text">Copyright Shortcut Inc 2016</div>
    </div>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/js/webflow.30539563a.js"></script>
</footer>

<!-- End of footer -->