<link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/css/kenigbolo-meya-stephen-s-trendy-site.webflow.2dba93c49.css">

<div class="row">
	
	<!-- Cargo Owners Marketspace -->
	<div class="col-md-6">
		<h5>Available Cargos</h5>
		<% @cargos.each do |cargo| %>
			<p>Description: <%= cargo.description %> </p>
			<p> From: <%= cargo.present_port %> </p>
			<p> To: <%= cargo.destination_port %> </p>
			<p> Type: <%= cargo.cargo_type %> </p>
			<p> Weight: <%= cargo.weight %> tonnes </p>
			<p> Volume: <%= cargo.volume %> m<sup>3</sup></p>
		<% if session[:current_user_class] == "ShipOwner" %>
			<button><%= link_to "Place bid", controller: "bids", action: "show", id: cargo.id %></button>
		<% else %>
			<p>Only Ship owners can bid on cargo</p>
		<% end %>
			<br>
		<% end %>
	</div>

	<!-- ShipOwners MarketPlace -->
	<div class="col-md-6">
		<h5>Available Ships</h5>
		<% @ships.each do |ship| %>
			<p> From: <%= ship.present_port %> </p>
			<p> To: <%= ship.destination_port %> </p>
			<p> Ship Type: <%= ship.ship_type %> </p>
			<p> Date of Departure: <%= ship.depature_date %> </p>
		<% if session[:current_user_class] == "CargoOwner" %>
			<button><%= link_to "Place bid", controller: "ship_bids", action: "show_ship", id: ship.id %></button>
		<% else %>
			<p>Only Cargo owners can bid on ships</p>
		<% end %>
			<br>
		<% end %>
	</div>

</div>