<link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/css/kenigbolo-meya-stephen-s-trendy-site.webflow.2dba93c49.css">

<!-- Insert Particles.js -->
<%= stylesheet_link_tag 'style'%>
<div id="particles-js"></div>
<%= javascript_include_tag 'particles', 'app'%>
<!-- End of Particles.js -->

<div class="row inline">
	<!-- Filter Checkboxes -->
	<div class="col-md-2 col-md-offset-5">
		<%= form_tag("/marketplace/filter", method: "post", class: "filter") do %>
			<div class="inline">
	            <select id="filter" name="filter" class="form-control input-sm floatlabel" required>
	              <option > Cargo </option>
	              <option > Ship </option>
	            </select>
				<%= submit_tag "filter", class: "btn btn-info btn-block" %>
			</div>
		<% end %>
	</div>
</div>


<div class="col-md-12 col-xs-18 col-sm-12">
	<div class="row">

		<% if @filter == "Cargo" %>	
			
			<section class="section2 clearfix">
				<div class="grid">
					<% @cargos.each do |cargo| %>
						<% if cargo.present_port != nil %>
							<div class="col-md-2 white-bg">
							<% if cargo.cargo_type == "Liquid Bulk" %>
								<div class="postcont">
									<img src="<%= asset_path( 'cargo.jpg' ) %>" alt="" class="bid-detail">
								</div>
							<% else %>
								<div class="postcont">
									<img src="<%= asset_path( 'cargo1.jpg' ) %>" alt="" class="bid-detail">
								</div>
							<% end %>
								<div class="profileinfo panel-body">
									<img src="<%= asset_path( 'profile-icon.png' ) %>" alt="">
									
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Class: <%= @filter %></li>
									    <li class="list-group-item">Type: <%= cargo.cargo_type %></li>
									    <li class="list-group-item">From: <%= cargo.present_port %></li>
									    <li class="list-group-item">To: <%= cargo.destination_port %></li>
									  </ul>
									<% if session[:current_user_class] == "ShipOwner" %>
										<button class="btn btn btn-info btn-block"><%= link_to "Place Bid", controller: "bids", action: "show", id: cargo.id, class: "btn btn-info btn-block"%></button>
									<% else %>
										<button class="btn btn-info btn-block">Ship Owners Only</button>
									<% end %>
								</div>
							</div>
						<% end %>
					<% end %>	
				</div>
			</section>

		<% else %>

			<%if @filter == "Ship" %>

				<section class="section2 clearfix">
					<div class="grid">
						<% @ships.each do |ship| %>
							<% if ship.present_port != nil %>
								<div class="col-md-2 white-bg">
									<div class="postcont"><img src="<%= asset_path( 'ship1.jpg' ) %>" alt="" class="bid-detail">
									</div>
									<div class="profileinfo panel-body">
										<img src="<%= asset_path( 'profile-icon.png' ) %>" alt="">
										
										<ul class="list-group list-group-flush">
											<li class="list-group-item">Class: <%= @filter %></li>
										    <li class="list-group-item">Type: <%= ship.ship_type %></li>
										    <li class="list-group-item">From: <%= ship.present_port %></li>
										    <li class="list-group-item">To: <%= ship.destination_port %></li>
										</ul>
										<% if session[:current_user_class] == "CargoOwner" %>
											<button class="btn btn-info btn-block"><%= link_to "Place Bid", controller: "ship_bids", action: "show_ship", id: ship.id %></button>
										<% else %>
											<button class="btn btn-info btn-block">Cargo Owners Only</button>
										<% end %>
									</div>
								</div>
							<% end %>
						<% end %>	
					</div>
				</section>
			<% end %>
		<% end %>
	</div>
</div>

